body {
    background-color: lightgray;
}

.App {
    background-color: rgb(247, 243, 243);
    border: 2px solid rgb(164, 145, 145);
    padding: 5px;
}

.App > * {
    border-bottom: 1px solid lightgray;
}